name: Go

on: [push]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Build
        run: go build -v ./...

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Print vars
        run: |
          export
          go env

      - name: Test
        run: go test -v ./...

  notify:
    name: Notify
    needs:
      - build
      - test
    runs-on: ubuntu-latest
    if: always()
    steps:
      - uses: martialonline/workflow-status@v2
        id: check
      - uses: KlyuchnikovV/telegram-notify@v0.1.9
        if: always()
        with:
          chat_id: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          status: ${{ steps.check.outputs.status }}
          parse_mode: markdown
          disable_links_preview: true
