name: Go

on: [ push ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Build
      run: go build -v ./...
      
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
        
    - name: Test
      run: go test -v ./...
    
  notify:
    runs-on: ubuntu-latest
    steps:
    - name: Telegram Notify
      # You may pin to the exact commit or the version.
      # uses: appleboy/telegram-action@ae54341a85fdcf97cbea354678d7b8c062286c15
      uses: appleboy/telegram-action@0.0.3
